:root {
--Strong-Cyan: hsl(171, 66%, 44%);
--Light-Blue: hsl(233, 100%, 69%);
--Dark-Grayish-Blue: hsl(210, 10%, 33%);
--Grayish-Blue: hsl(201, 11%, 66%);
--White: hsl(0, 0%, 100%);
--FontSize: 1.125rem;
--Padding-M: 0 2.5rem;
}
*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    margin: 0;
}
  
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Bai Jamjuree", serif;
    background-color: var(--White);
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    color: var(--Dark-Grayish-Blue);
}
  
p {
    text-wrap: pretty;
    color: var(--Grayish-Blue);
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
.visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.intro {
    padding: var(--Padding-M);
    padding-bloc-end: 4rem;
    padding-bloc-start: 5rem;
    text-align: center;
}
.intro h3 {
    font-size: 1.75rem;
    text-wrap: auto;
    margin-bottom: 1rem
}
.intro p {
    line-height: 1.8
}
.click {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 90%
}
.click a {
    text-decoration: none;
    color: var(--White);
    display: block;
    padding: .75rem 2rem;
    border-radius: 30px;
    font-weight: 600;
    transition: .1s;
    font-size: var(--FontSize);
    &:hover {
        opacity: .7
    }
}
.click a:first-child {
    background-color: var(--Strong-Cyan);
    box-shadow: 0px 2px 0px 1px hsl(171, 81%, 28%);;
}
.click a:last-child {
    background-color: var(--Light-Blue);
    box-shadow: 0px 2px 0px 1px hsl(233, 75%, 58%);
}
/* Start Header */
.header_container {
    background-image: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--Padding-M);
    padding-bloc-start: 5.875rem;
    margin-bloc-end: 10rem;
}
.header_container .logo {
    margin-bloc-end: 4rem
}
.header_container h1 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bloc-end: 1rem
}
.header_container p {
    margin-bloc-end: 2rem
}
/* Start main */
.app_info .intro {
    padding-top: 0
}
.app_info_container {
    padding: var(--Padding-M);
}
.app_info_container img {
    margin: 0 auto;
    margin-bottom: 4rem
}
.app_info_container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem
}
.app_info_container .content .box h3 {
    font-size: 1.5rem;
    margin-bloc-end: 1rem
}
.devices img {
    margin: 0 auto
}
.workflow .content {
    padding: var(--Padding-M);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem
}
.workflow .content .box img {
    margin: 0 auto 2rem
}
.workflow .content .box h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem
}
.logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: var(--Padding-M);
    padding-bloc-start: 7rem;
}
.App_download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--Padding-M);
    padding-bloc-start: 7rem;
}
.App_download h2 {
    text-wrap: auto;
    font-size: 1.75rem;
    margin-bloc-end: 1rem;
}
.App_download p {
    margin-bloc-end: 2rem
}
/* Footer */
.footer_container {
    padding: 3rem 4rem;
    margin-bloc-start: 7rem;
    background-color: #F5F6F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem
}
.footer_container ul {
    list-style: none
}
.footer_container a {
    text-decoration: none;
    color: var(--Dark-Grayish-Blue);
    &:hover {
        color: var(--Strong-Cyan);
    }
}
.footer_container img {
    width: 3rem
}
.footer_container .pages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-inline-start: 0;
    font-size: var(--FontSize);
    gap: 1.5rem;
}
.footer_container .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding-inline-start: 0;
    gap: 2.5rem;
}

@media (min-width: 68.75rem) {
    .intro {
        padding: 0;
        padding-bloc-end: 4rem;
        padding-bloc-start: 5rem;
        text-align: center;
    }
    .intro h3 {
        font-size: 2rem;
        text-wrap: auto;
        margin-bottom: 1rem
    }
    .intro p {
        line-height: 1.8;
        font-size: var(--FontSize);
        width: 45%;
        margin: 0 auto;
    }  

    .click {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
    }

    .header_container {
        background-image: url(../images/bg-header-desktop.png);
    }
    .header_container h1 {
        font-size: 2.5rem;
    }
    .header_container p {
        font-size: var(--FontSize);
        width: 45%;
    }
    .app_info_container {
        display: flex;
        gap: 5rem;
        padding: 0;
    }
    .app_info_container img {
        margin-bloc-end: 0;
        margin-left: -2rem;
    }
    .app_info_container .content {
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        gap: 4rem
    }
    .app_info_container .content .box {
        width: 55%
    }
    .app_info_container .content .box h3 {
        margin-bottom: .5rem
    }
    .app_info_container .content .box p {
        line-height: 1.8
    }
    .workflow .content {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 4rem;
        padding: 0;
        margin: 0 12rem;
    }
    .workflow .content .box {
        width: 30%
    }
    .workflow .content .box img {
        margin: 0 auto 2rem
    }
    .workflow .content .box h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem
    }
    .logos {
        flex-direction: row;
        justify-content: space-between;
        gap: 4rem;
        padding: 0;
        padding-bloc-start: 7rem;
        margin: 0 12rem;
        flex-wrap: wrap;
    }
    .App_download h2 {
        font-size: 2rem;
        text-wrap: auto;
        margin-bloc-end: 1rem
    }
    .App_download p {
        font-size: var(--FontSize);
        width: 45%;
    }

    .footer_container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 12rem;
    }
    .footer_container .pages {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1rem;
        column-gap: 6rem;
        text-align: left;
    }
    .footer_container .links {
        gap: 1.5rem;
    }
}
@media (min-width: 68.75rem) and (max-width: 71.875rem) {
    .footer_container .pages {
        column-gap: 4rem;
    }
}
